<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatBubbleView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TextDig.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88D92C461A6C69DE00B96D4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88D92C561A6C69DE00B96D4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88FF84A01A6CC514000701EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88FF84AA1A6CC514000701EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
